@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
  a {
    @apply underline;
  }
}

@layer utilities {
  @variants hover {
    .scatter-sm {
      r: 1
    }
    .scatter {
      r: 3
    }
    .scatter-lg {
      r: 5
    }
  }
}
