@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
  a {
    @apply underline;
  }
}

@layer components {
  .leftAxis {
    @apply font-mono text-gray-500 font-bold transition-all;
  }
  .leftAxis .tick line {
    @apply text-gray-300;
  }
  .leftAxis .domain {
    @apply hidden;
  }
}

@layer utilities {
  @variants hover {
    .scatter-sm {
      r: 2px;
    }
    .scatter {
      r: 4px;
    }
    .scatter-lg {
      r: 6px;
    }
  }
}
